<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--모바일 브라우저 뷰 포인트-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Offline Meeting Gathering(OMG) | 오마이갓</title>
    <link rel="icon" type="image/png" href="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=947e2d31c30c1e5bb19a2aea46d9b87a"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="header-top">
        <nav id="header-wrap" class="header-box">
          <div id="header-logo">
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-img"
              onclick="window.location.href='/';"
            />
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-m-img"
              onclick="window.location.href='/';"
            />
          </div>
          <div id="header-show-btn"></div>
          <div id="nav-list-btn"></div>
          <ul id="header-nav">
            <li>
              <a class="header-nav-btn" href="/"><span>홈</span></a>
            </li>
            <li>
              <% if (meeting[0].mainName == "game") { %>
              <a class="header-nav-btn home" href="/meetings/game"><span>게임</span></a>
              <% } else { %>
              <a class="header-nav-btn" href="/meetings/game"><span>게임</span></a>
              <% } %>
            </li>
            <li>
              <% if (meeting[0].mainName == "dating") { %>
              <a class="header-nav-btn home" href="/meetings/dating"><span>소개팅</span></a>
              <% } else { %>
              <a class="header-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
              <% } %>
            </li>
            <li>
              <% if (meeting[0].mainName == "sports") { %>
              <a class="header-nav-btn home" href="/meetings/sports"><span>스포츠</span></a>
              <% } else { %>
              <a class="header-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
              <% } %>
            </li>
            <li>
              <% if (meeting[0].mainName == "study") { %>
              <a class="header-nav-btn home" href="/meetings/study"><span>스터디</span></a>
              <% } else { %>
              <a class="header-nav-btn" href="/meetings/study"><span>스터디</span></a>
              <% } %>
            </li>
            <li>
              <% if (meeting[0].mainName == "hobby") { %>
              <a class="header-nav-btn home" href="/meetings/hobby"><span>취미</span></a>
              <% } else { %>
              <a class="header-nav-btn" href="/meetings/hobby"><span>취미</span></a>
              <% } %>
            </li>
          </ul>
          <ul id="header-user-box">
            <li>
              <a class="header-nav-btn" href="/users/logout"><span>로그아웃</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="side-mask" style="display: none">
      <div id="side-menuBar" style="right: -300px">
        <div id="side-top">
          <div class="side-top-user-box">
            <span id="side-user-name" onclick="window.location.href='/users/my-page'" style="cursor: pointer">
              <b style="font-weight: 700"><%= user.email %></b>
            </span>
          </div>
        </div>
        <ul id="side-nav">
          <li>
            <a class="side-nav-btn" href="/"><span>홈</span></a>
          </li>
          <li>
            <% if (meeting[0].mainName == "game") { %>
            <a class="side-nav-btn home" href="/meetings/game"><span>게임</span></a>
            <% } else { %>
            <a class="side-nav-btn" href="/meetings/game"><span>게임</span></a>
            <% } %>
          </li>
          <li>
            <% if (meeting[0].mainName == "dating") { %>
            <a class="side-nav-btn home" href="/meetings/dating"><span>소개팅</span></a>
            <% } else { %>
            <a class="side-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
            <% } %>
          </li>
          <li>
            <% if (meeting[0].mainName == "sports") { %>
            <a class="side-nav-btn home" href="/meetings/sports"><span>스포츠</span></a>
            <% } else { %>
            <a class="side-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
            <% } %>
          </li>
          <li>
            <% if (meeting[0].mainName == "study") { %>
            <a class="side-nav-btn home" href="/meetings/study"><span>스터디</span></a>
            <% } else { %>
            <a class="side-nav-btn" href="/meetings/study"><span>스터디</span></a>
            <% } %>
          </li>
          <li>
            <% if (meeting[0].mainName == "hobby") { %>
            <a class="side-nav-btn home" href="/meetings/hobby"><span>취미</span></a>
            <% } else { %>
            <a class="side-nav-btn" href="/meetings/hobby"><span>취미</span></a>
            <% } %>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/logout"><span>로그아웃</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div role="main">
          <div class="board" id="content">
            <div class="main-content" style="background-color: #fafafa; margin: 0 auto">
              <div class="meeting-banner">
                <div class="meeting-main-banner" style="text-align: center" id="main-banner">
                  <div id="kakao-map" style="margin: 0 auto; width: 100%; height: 600px"></div>
                </div>
              </div>
              <div class="body-content" style="display: flex; margin: 0 auto; max-width: 1400px">
                <div class="body-content-wrap" style="width: 100%">
                  <div class="right-body-m" style="display: none">
                    <section class="section-m" style="border-bottom: 10px solid rgb(238, 238, 238)">
                      <div class="meeting_time"><p style="font-size: 20px; font-weight: 700"><%= meeting[0].time %></p></div>
                      <div class="meeting_place">
                        <div class="meeting-placeLA" style="display: none"><p><%= meeting[0].placeLA %></p></div>
                        <div class="meeting-placeLO" style="display: none"><p><%= meeting[0].placeLO %></p></div>
                        <h1 style="margin: 10px 0 3px; font-size: 26px; font-weight: 700">
                          <a style="color: #3540a5"><%= meeting[0].place %></a>
                        </h1>
                        <div class="meeting-place-detail">
                          <span><%= meeting[0].placeAddress %></span>
                          <div style="padding-left: 5px; display: inline-block">
                            <span style="font-size: 18px">| <%= meeting[0].fee %></span>
                            <span>/<%= meeting[0].perHour %></span>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="section-status" style="width: 60%; margin: 20px auto">
                      <div class="meeting-status <%= meeting[0].status_c %>"><%= meeting[0].status %></div>
                    </section>
                  </div>
                  <nav id="meeting-nav">
                    <ul class="nav-item">
                      <li>
                        <a href="#infoTitle" class="nav-list">만남 정보</a>
                      </li>
                      <li>
                        <a href="#infoNotice" class="nav-list">주의 사항</a>
                      </li>
                      <li>
                        <a href="#infoTime" class="nav-list">만남 시간</a>
                      </li>
                      <li>
                        <a href="#infoPeople" class="nav-list">모집 인원</a>
                      </li>
                      <li>
                        <a href="#infoReservation" class="nav-list">예약자 정보</a>
                      </li>
                    </ul>
                  </nav>
                  <section class="section-info">
                    <div class="meeting-title">
                      <span><%= meeting[0].title %></span>
                    </div>
                    <div id="infoTitle" class="info-title" style="padding-top: 0 !important; padding: 20px 50px">
                      <p>
                        <span>만남 정보</span>
                      </p>
                    </div>
                    <div class="info-content">
                      <span><%= meeting[0].content %></span>
                    </div>
                  </section>
                  <section class="section-notice">
                    <div id="infoNotice" class="info-title" style="padding-top: 0 !important; padding: 20px 50px">
                      <p>
                        <span>주의 사항</span>
                      </p>
                    </div>
                    <div class="info-content">
                      <span><%= meeting[0].notice %></span>
                    </div>
                  </section>
                  <section class="section-time">
                    <div id="infoTime" class="info-title" style="padding-top: 0 !important; padding: 20px 50px">
                      <p>
                        <span>만남 시간</span>
                      </p>
                    </div>
                    <div class="info-content">
                      <span><%= meeting[0].time %>-<%= meeting[0].finishTime %></span>
                    </div>
                  </section>
                  <section class="section-people">
                    <div id="infoPeople" class="info-title" style="padding-top: 0 !important; padding: 20px 50px">
                      <p>
                        <span>모집 인원</span>
                      </p>
                    </div>
                    <div class="info-content">
                      <span><%= meeting[0].people %></span>
                    </div>
                  </section>
                  <section class="section-user">
                    <div id="infoReservation" class="info-title" style="padding-top: 0 !important; padding: 20px 50px">
                      <p>
                        <span>예약자 정보</span>
                      </p>
                    </div>
                    <div class="info-user-content">
                      <div class="profile-photo">
                        <img src="<%= meeting[0].imageUrl %>" />
                      </div>
                      <div class="profile-id">
                        <div class="meeting-host">
                          <span style="font-size: 22px"><%= meeting[0].userName %></span>
                          <span style="vertical-align: top; font-weight: bold" id="user-cert"><%= meeting[0].certification %></span>
                        </div>
                        <span><%= meeting[0].phone %></span>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="right-body-wrap" style="position: sticky">
                  <section class="section-pc" style="border-bottom: 10px solid rgb(238, 238, 238)">
                    <div class="meeting_time"><p style="font-size: 20px; font-weight: 700"><%= meeting[0].time %></p></div>
                    <div class="meeting_place">
                      <div class="meeting-placeLA" style="display: none"><p><%= meeting[0].placeLA %></p></div>
                      <div class="meeting-placeLO" style="display: none"><p><%= meeting[0].placeLO %></p></div>
                      <h1 style="margin: 10px 0 3px; font-size: 26px; font-weight: 700">
                        <a style="color: #3540a5"><%= meeting[0].place %></a>
                      </h1>
                      <div class="meeting-place-detail">
                        <span><%= meeting[0].placeAddress %></span>
                        <div style="padding-left: 5px; display: inline-block">
                          <span style="font-size: 18px">| <%= meeting[0].fee %></span>
                          <span>/<%= meeting[0].perHour %></span>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="section-status" style="width: 60%; margin: 20px auto">
                    <div class="meeting-status <%= meeting[0].status_c %>"><%= meeting[0].status %></div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer omg-footer">
      <p>© 2022. OMG ALL RIGHTS RESERVED.</p>
    </div>
    <script type="text/javascript">
      const container = $('#kakao-map')[0];
      const placeLA = parseFloat($('.meeting-placeLA').text());
      const placeLO = parseFloat($('.meeting-placeLO').text());
      let markerLocation = new kakao.maps.LatLng(placeLA, placeLO);

      let mapOptions = {
        center: markerLocation,
        level: 3,
      };
      let map = new kakao.maps.Map(container, mapOptions);

      let marker = new kakao.maps.Marker({
        position: markerLocation,
      });

      marker.setMap(map);
      $('#header-show-btn').click(function () {
        $('#side-mask').css('display', 'block');
        $('#side-menuBar').css('right', '0px');
        $('#side-menuBar').addClass('visible');
        $('#header').css('right', '16px');
      });
      $('#side-mask').click(function () {
        $('#side-mask').css('display', 'none');
        $('#side-menuBar').css('right', '-300px');
        $('#side-menuBar').removeClass('visible');
        $('#header').css('right', '0');
      });
      $(function () {
        if ($('.meeting-host #user-cert').html() == '인증완료') {
          $('.meeting-host #user-cert').css('color', 'blue');
        } else {
          $('.meeting-host #user-cert').css('color', 'red');
        }
      });
    </script>
  </body>
</html>
